* {
    font-size: 1.2rem;
}

/*SEARX*/
.searx-body-wrapper {
    background-color: dimgray;
}
.searx-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searx-search-logo {
    height: 200px;
}
.searx-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12% 20% 0% 22%;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.searx-search-icon {
    height: 48px;
}
.searx-search-bar {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.25rem;
}

.searx-search-engines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searx-engine {
    height: 100px;
    width: 100px;
    border-radius: 0.4rem;
    background-color: rgb(65, 160, 230);
    margin: 2rem;
}

/*DUCKDUCKGO*/
.duckduckgo-body-wrapper {
    background-color: dimgray;
}
.duckduckgo-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.duckduckgo-search-logo {
    height: 200px;
}
.duckduckgo-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12% 20% 0% 22%;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.duckduckgo-search-icon {
    height: 48px;
}
.duckduckgo-search-bar {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.25rem;
}

.duckduckgo-search-engines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.duckduckgo-engine {
    height: 100px;
    width: 100px;
    border-radius: 0.4rem;
    background-color: orangered;
    margin: 2rem;
}

/*YANDEX*/
.yandex-body-wrapper {
    background-color: dimgray;
}
.yandex-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.yandex-search-logo {
    height: 200px;
}
.yandex-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12% 20% 0% 22%;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.yandex-search-icon {
    height: 48px;
}
.yandex-search-bar {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.25rem;
}

.yandex-search-engines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yandex-engine {
    height: 100px;
    width: 100px;
    border-radius: 0.4rem;
    background-color: yellow;
    margin: 2rem;
}

/*DEFAULTS*/
.duckduckgo {
    margin: 0;
    padding: 0.5rem;
    background-color: orangered;
}
.searx {
    margin: 0;
    padding: 0.5rem;
    background-color: rgb(65, 160, 230);
}
.yandex {
    margin: 0;
    padding: 0.5rem;
    background-color: yellow;
}

.selected-searx-bar::placeholder {
    color: rgb(65, 160, 230);
}
.selected-duckduckgo-bar::placeholder {
    color: orangered;
}
.selected-yandex-bar::placeholder {
    color: yellow;
}